.outline-btn, .filled-btn {
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  min-height: 55px;
  min-width: 200px;
  margin-top: 40px;
  font-size: 18px;
}

.outline-btn {
  background-color: #0066ff;
  color: #fff;
  
}

.outline-btn:hover {
  background-color: #0051cc;
  transform: scale(1.05);
}

.filled-btn {
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filled-btn:hover {
  background-color: #f0f0f0;
  color: black;
  transform: scale(1.05);
}

.enter-btn {
  background-color: #0066ff;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  min-height: 55px;
  min-width: 200px;
  font-size: 18px;
}

.enter-btn:hover {
  background-color: #0051cc;
  color: white;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .outline-btn, .filled-btn{
    min-width: 80px;
    margin-top: 20px;
  }

}