{% extends 'base.html' %}
{% block title %}Cadastrar Serviço - Empreguei{% endblock %}
{% block content %}
<div class="container">
  <main>
    <h1>Cadastrar Serviço</h1>
    <form method="POST">
      <input type="text" placeholder="Título" class="input-field" required>
      <textarea placeholder="Descrição" class="input-field" required></textarea>
      <select class="input-field" required>
        <option disabled selected>Categoria</option>
        <option>Montador</option>
        <option>Empregada</option>
        <option>Ajudante</option>
      </select>
      <button type="submit" class="filled-btn">Cadastrar</button>
    </form>
  </main>
</div>
{% endblock %}
