{% extends 'base.html' %}
{% block title %}Início - Empreguei{% endblock %}
{% block content %}
<div class="container">
  <main>
    <h1 class="title">Conecte-se com<br><strong>quem resolve!</strong></h1>
    <p class="sub-title">Publique seu serviço ou encontre<br>profissionais de forma rápida.</p>
    <div class="action-buttons">
      <a href="{{ url_for('servicos') }}"><button class="outline-btn">Encontrar profissional</button></a>
      <a href="{{ url_for('cadastro') }}"><button class="filled-btn">Publicar seu serviço</button></a>
    </div>
    <div class="services">
      <div class="card"><img src="https://img.icons8.com/ios-filled/50/000000/move-by-trolley.png"/><p>Ajudante</p></div>
      <div class="card"><img src="https://img.icons8.com/ios-filled/50/000000/furniture.png"/><p>Montador</p></div>
      <div class="card"><img src="https://img.icons8.com/ios-filled/50/000000/broom.png"/><p>Empregado</p></div>
      <div class="card"><img src="https://img.icons8.com/ios-filled/50/000000/broom.png"/><p>Empregado</p></div>
    </div>
  </main>
</div>
<footer>
  <div class="social">
    <img src="{{ url_for('static', filename='css/img/icons8-facebook-48.png') }}"/>
    <img src="{{ url_for('static', filename='css/img/icons8-instagram-48.png') }}"/>
    <img src="{{ url_for('static', filename='css/img/icons8-whatsapp-48.png') }}"/>
  </div>
  <p>Copyright © Direitos De Autor Internacionais De Serviço.</p>
</footer>
{% endblock %}
