{% extends 'base.html' %}
{% block title %}Login - Empreguei{% endblock %}
{% block content %}
<div class="login-container">
  <div class="logo-box">
    <div class="logo-letter">E</div>
    <span class="logo-text">Empreguei</span>
  </div>
  <h1 class="login-title">Login</h1>
  <form method="POST">
    <input type="email" name="email" class="input-field" placeholder="E-mail" required>
    <input type="password" name="senha" class="input-field" placeholder="Senha" required>
    <button type="submit" class="enter-btn">Entrar</button>
  </form>
  <p class="register-link">Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>

</div>
{% endblock %}
<!-- Teste de alteração -->